s3/predicted/
s3/toPredict/
s3/train/
tf-service/weights/
tf-service/.idea/
tf-service/__pycache__/
tf-service/model/__pycache__/
tf-service/scheduler/__pycache__/
tf-service/static/__pycache__/
webserver/.idea/
opencv/.idea/
opencv/__pycache__/