<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>

<body>

    <h1>Welcome to the Index Page!</h1>
    <p>Please Choose the next page.</p>

    <ul>
        <li><a href="uploadImg.html" id="href_uploadImg">Upload Image</a></li>
        <li><a href="showList.html" id="href_showList">Show List</a></li>
        <li><a href="showPictures.html" id="href_showPictures">Show Pictures</a></li>
        <li><a href="labelPictures.html" id="href_labelPictures">Label Pictures</a></li>
        <li><a href="openCV.html" id="href_openCV">Use Camera</a></li>
    </ul>

</body>