<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../css/jquery.dataTables.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">

<script src="../javascript/jquery-3.6.0.min.js"></script>
<script src="../javascript/helper_func_showList.js"></script>
<script src="../javascript/popper.min.js"></script>
<script src="../javascript/bootstrap.min.js"></script>
<script src="../javascript/jquery.dataTables.js"></script>

<head>
    <meta charset="UTF-8">
    <title>ShowList</title>
</head>

<body>
<section class="content">
    <div id="div_records">
        <table id="table_myTable">
            <thead>
                <tr>
                    <th>name</th>
                    <th>path</th>
                    <th>prediction</th>
                    <th>label</th>
                </tr>
            </thead>
            <tbody>
                <!-- AJAX -->
            </tbody>
        </table>
    </div>
</section>
</body>

<nav>
    <h1>Nav</h1>
    <p>Choose another page:</p>
    <ul>
        <li><a href="uploadImg.html" id="href_uploadImg">Upload Image</a></li>
        <li><a href="showList.html" id="href_showList">Show List</a></li>
        <li><a href="showPictures.html" id="href_showPictures">Show Pictures</a></li>
        <li><a href="labelPictures.html" id="href_labelPictures">Label Pictures</a></li>
        <li><a href="openCV.html" id="href_openCV">Use Camera</a></li>
    </ul>
</nav>