<!DOCTYPE html>
<html lang="en">

<script src="../javascript/jquery-3.6.0.min.js"></script>
<script src="../javascript/helper_func_showPictures.js"></script>

<head>
    <meta charset="UTF-8">
    <title>ShowPictures</title>
</head>

<body>
<div id="div_texts">
    <p>Click on the next button to view 5 more images.</p>
</div>
<div id="div_pictures"></div>
<div id="div_buttons">
    <button id="button_next">Next</button>
</div>
</body>

<nav>
    <h1>Nav</h1>
    <p>Choose another page:</p>
    <ul>
        <li><a href="uploadImg.html" id="href_uploadImg">Upload Image</a></li>
        <li><a href="showList.html" id="href_showList">Show List</a></li>
        <li><a href="showPictures.html" id="href_showPictures">Show Pictures</a></li>
        <li><a href="labelPictures.html" id="href_labelPictures">Label Pictures</a></li>
        <li><a href="openCV.html" id="href_openCV">Use Camera</a></li>
    </ul>
</nav>