<!DOCTYPE html>
<html lang="en">

<script src="../javascript/jquery-3.6.0.min.js"></script>
<script src="../javascript/helper_func_uploadImg.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Upload Image Page</title>
</head>

<body>

    <h1>Welcome!</h1>
    <p>Please upload your photo.</p>

    <form id="form_img">
        <label for="img">Select image:</label><br>
        <input type="file" id="img" name="img" accept="image/*">
        <input type="submit">
    </form>

    <p>For immediate prediction, please use the second form:</p>
    <form id="form_img_fast">
        <label for="img_fast">Select Image:</label><br>
        <input type="file" id="img_fast" name="img_fast" accept="image/*">
        <input type="submit">
    </form>

</body>

<nav>
    <h1>Nav</h1>
    <p>Choose another page:</p>
    <ul>
        <li><a href="uploadImg.html" id="href_uploadImg">Upload Image</a></li>
        <li><a href="showList.html" id="href_showList">Show List</a></li>
        <li><a href="showPictures.html" id="href_showPictures">Show Pictures</a></li>
        <li><a href="labelPictures.html" id="href_labelPictures">Label Pictures</a></li>
        <li><a href="openCV.html" id="href_openCV">Use Camera</a></li>
    </ul>
</nav>