<!DOCTYPE html>
<html lang="en">

<script src="../javascript/jquery-3.6.0.min.js"></script>
<script src="../javascript/helper_func_labelPictures.js"></script>

<head>
    <meta charset="UTF-8">
    <title>LabelPictures</title>
</head>

<body>
    <div id="div_texts">
        <p>Please click on the check box to label the pictures.</p>
    </div>
    <div id="div_pictures"></div>
    <div id="div_buttons">
        <button id="button_submit">Submit</button>
    </div>
</body>

<nav>
    <h1>Nav</h1>
    <p>Choose another page:</p>
    <ul>
        <li><a href="uploadImg.html" id="href_uploadImg">Upload Image</a></li>
        <li><a href="showList.html" id="href_showList">Show List</a></li>
        <li><a href="showPictures.html" id="href_showPictures">Show Pictures</a></li>
        <li><a href="labelPictures.html" id="href_labelPictures">Label Pictures</a></li>
        <li><a href="openCV.html" id="href_openCV">Use Camera</a></li>
    </ul>
</nav>